{% extends "base.html" %}

{% block content %}
    <section class="title-area">
        {{ clip.title }}
    </section>

    <section class="clip-download-area">
        <article>
            <img class="clip-image" src="{{ clip.thumb_url }}" alt="" />
        </article>
    </section>

    <section class="download-button-area">
        <form action="{{ url_for('static',filename=('clips/audio/' + clip.id + '.aac')) }}">
            <input type="submit" name="submit-download" value="Download Audio">
        </form>
    </section>
{% endblock %}